body {
  background: #acc;
}

#svg-container {
  width: 1000px;
  margin: 0 auto; /* center vertically */
  margin-bottom: -60px; /* TODO Just crop the svg */
  margin-top: -60px; /* TODO Just crop the svg */
}

#controls {
  display: flex;
  margin: 0 auto; /* center vertically */
  width: max-content; /* set width so centering works */
}

#left-cube-controls {
  margin-right: 10px;
}

button {
  font-family: monospace;
  font-size: 30px;
  outline: 0;
}

button.spacer {
  visibility: hidden;
}

#scramble {
  display: block;
  margin: 40px auto;
  font-size: 20px;
}
